/* Coolors Exported Palette - coolors.co/4c6085-39a0ed-36f1cd-13c4a3-32322c */

$hr-color: rgba(0, 0, 0, .09);
$paragraph-color: rgb(102, 102, 102);
$nav-color: rgb(145, 145, 145);
$white-color: #fff;
$bg-color: #f7f7f7;
$silver-color: rgb(244, 247, 249);
$black-color: #000;
$shadow-color: rgba(255, 255, 255, 0.05);
$border-color: rgba(255, 255, 255, .1);
$social-color: #BDBDBD;
$services-color-text: rgb(80, 106, 133);
$services-color: rgb(115, 135, 156);
$services-color-light: rgba(115, 135, 156, .45);
$services-active-color: #1ABB9C;

/* RGB */

$color1: #242729;
$color2: rgba(57, 160, 237, 1);
$color3: rgba(54, 241, 205, 1);
$color4: rgba(19, 196, 163, 1);
$color5: rgba(50, 50, 44, 1);
$color6: #2e282a;
$color7: rgb(187, 192, 196);
$color8: #fdfff7;
$color9: #121e2c;


$resume-color: #f06449;
$paypal-color: #0070ba;
$foggy-color: $color4;
$facebook-color: #4267B2;
$github-color: #24292E;
$twitter-color: #1DA1F2;