/* Coolors Exported Palette - coolors.co/1c3144-596f62-7ea16b-c3d898-70161e */

/* HSL */


/* RGB */
$color4: rgba(28, 49, 68, 1);
$color2: rgba(89, 111, 98, 1);
$color3: rgba(126, 161, 107, 1);
$color1: rgba(195, 216, 152, 1);
$color5: rgba(112, 22, 30, 1);