/* Coolors Exported Palette - coolors.co/353535-ffffff-d2d7df-bdbbb0-8a897c */

/* HSL */
$color1: hsla(0%, 0%, 21%, 1);
$color2: hsla(0%, 0%, 100%, 1);
$color3: hsla(217%, 17%, 85%, 1);
$color4: hsla(51%, 9%, 72%, 1);
$color5: hsla(56%, 6%, 51%, 1);

/* RGB */
$color1: rgba(53, 53, 53, 1);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(210, 215, 223, 1);
$color4: rgba(189, 187, 176, 1);
$color5: rgba(138, 137, 124, 1);