// about

p.about-hi {
  color: $color6;
  font-family: $sans-font;
  font-size: 1.4rem;
  font-weight: 400;
}
h1.about-h1-title {
  color: $color6;
  font-family: $sans-font;
  font-size: 1.4rem;
  font-weight: 400;
}

p.about-info {
  font-size: 0.85rem;
  letter-spacing: 0.1px;
  line-height: 20px;
}
