footer.footer {
    width: 100%;
    height: 170px;
    background: #171717;
    position: relative;
    .footer-box {
        width: 100%;
        height: 100%;
    }
    padding-top: 20px;
    // -webkit-clip-path: polygon(25% 0, 75% 0, 100% 30%, 100% 100%, 0 100%, 0 30%);
    // clip-path: polygon(25% 0, 75% 0, 100% 30%, 100% 100%, 0 100%, 0 30%);
    //  border-bottom: 1px solid $color3;
}

.footer-text {
    font-size: 14px;
}

ul.social-list {
    height: 100%; // margin-top: 20px;
    li {
        display: inline;
        margin: 0 0px;
        a {
            display: inline-block;
            text-align: center;
            i.fa {
                border-radius: 50%;
                width: 38px;
                height: 38px; // border: 1px solid rgba(255, 255, 255, .3);
                vertical-align: middle;
                line-height: 38px;
                font-size: 1.3rem;
                transition: all .3s;
                color: $social-color;
                &:hover {
                    background: #fff; // color: #fff;
                }
                &.fa-facebook {
                    &:hover {
                        color: $facebook-color;
                    }
                }
                &.fa-github {
                    &:hover {
                        color: $github-color;
                    }
                }
                &.fa-twitter {
                    &:hover {
                        color: $twitter-color;
                    }
                }
            }
        }
    }
}

.copyright-box {
    padding-top: 70px;
    text-align: center;
}